<a class='btn btn-success' href="/hobby/<%= name %>/<%= post.title %>/edit">Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> <a class='btn btn-danger' href="/hobby/<%= name %>/<%= post.title %>/delete">Delete <i class="fa fa-trash" aria-hidden="true"></i></a><p>
