<%- include('../layout/header', {title: "Hobby List", user: user}) %>
<% title = "List of Hobbies" %>
<div class="panel panel-default">
  <div class="panel-body">
    <ul>

      <% hobby.forEach(function(hobby) { %>
        <%- include('_index', {hobby: hobby}); %>
      <% }); %>
    </ul>
    <br>
    <a class="btn btn-primary" href="/hobby/new">Add new hobby <i class="fa fa-plus" aria-hidden="true"></i></a>

  </div>
</div>

<div id="return">
  <a class="btn btn-large btn-info" href="/"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Return to the homepage</a>
</div>
<%- include('../layout/footer') %>
